<configuration>
    <!-- appender for console logging -->
    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- appender for file logging -->
    <appender name="myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- specify the log file path to store logs in the desired folder -->
        <file>C:/Users/hytej/Desktop/Projects/journalApp/Log-Files/journalApp.log</file>

        <!-- rolling policy for size and time-based rolling -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- logs will be rotated with a timestamp and index in the filename -->
            <FileNamePattern>C:/Users/hytej/Desktop/Projects/journalApp/Log-Files/journalApp-%d{yy-MM-dd_HH-mm}.%i.log</FileNamePattern>
            <!-- file size threshold for rolling -->
            <maxFileSize>10MB</maxFileSize>
            <!-- keep the last 10 log files -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root logger configuration -->
    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>
</configuration>
